@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #F9FAFB;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}

.partners {
  padding-top: 25rem;
}

input::placeholder {
  padding-left: 10px;
}

input{
  text-indent: 10px;
}


.Footer-links:nth-child(2) {
  border-left: 1px solid #ffffff;
}




@media screen  and (max-width: 1500px) {
  .partners {
    padding-top: 5rem;
  }
}

@media screen  and (max-width: 1400px) {
  .partners {
    padding-top: 5rem;
  }
}


@media screen  and (max-width: 1200px) {
  .partners {
    padding-top: 5rem;
  }
}

@media screen  and (max-width: 1050px) {
  .partners {
    padding-top: 5rem;
  }
}


@media screen  and (max-width: 1021px) {
  .partners {
    padding-top: 30rem;
  }
}

@media screen  and (max-width: 900px) {
  .partners {
    padding-top: 30rem;
  }
}

@media screen  and (max-width: 475px) {
  .partners {
    padding-top: 25rem;
  }
}